  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(23, 209, 85, 0.87);
  }
  body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(imgenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
  }
  h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 30px 0px;
  }
  img{
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }
  header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%; 
    height: 70px;
    top: 0;
    position: fixed;
    width: 100%;
  }
.scroll{
  background-color: rgb(35, 238, 8);
  box-shadow: .1rem .2rem .3rem #a9ec0b;
}
.scroll img{
  filter: invert(15% );
}
.scroll h1{
  color: rgb(191, 13, 245);
}
.carrito{
    filter: invert(100%);
    width: 45px;
    height:auto;
}
.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
}
.contenedor>div{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-color: rgba(31, 15, 172, 0.842);
    border-radius: 20px;
    
} 
.contenedor>div:hover{
    background-color: rgb(218, 233, 6);
}
.informacion{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.informacion>p:first-child{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: 300;
}
.informacion .precio{
    font-size: 20px;
    font-weight: 500;
} 
.informacion .precio span{
    font-size: 17px;
    font-weight: 300;
}
.informacion button{
    background-color: brown;
    width: 100px;
    height: 35;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}
.informacion button:hover{
    background-color: aqua;
    
}

